@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');

*{
    box-sizing: border-box;
    
}


body{
    background-color: #f6f7fb;
    height:100vh ;
    margin: 0;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aqua;
    height: 200px;
    text-align: center;

}
.progress-container{
    width: 350px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}